.toolbar{
    width: 100vw;
    height: 100px;
    position: fixed;
    z-index: 1;
}
.toolbar__background{
    position: absolute;
    background-image: linear-gradient(to top, transparent,#1e1e1e,#1e1e1e, #1e1e1e);
    opacity: 0.4;
    width: 100vw;
    height: 100px;
    z-index: -1;
}
.toolbar__navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    background: none;
}

    .toolbar__left{
        order: 1;
        
    }
    .toolbar__logo{
        order:2;
        width: 20vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .toolbar__logo img{
            padding-top: 5px;
            height: 90px;
            width: auto;
        }
    .drawertogglebutton__container{
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        background-color: transparent;
        border: none;
    }
    .toolbar__right{
        order:3;
    }
    .toolbar__items{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
    }
        .toolbar__items__list{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            list-style: none;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
            .toolbar__items__list ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 100%;    
            }
            .toolbar__items__list li{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 50%;
                height: 100%;
                transition: color 1s;
                outline: none;
            }
                .toolbar__items__list a{
                    color: white;
                    text-align: center;
                    text-decoration: none;
                    width: 100%;
                    height: 30px;
                    align-items: center;
                    font-weight: bold;
                }

                .toolbar__tab{
                    transition: color .4s ease-out;
                }
                .toolbar__items__list li:hover .toolbar__tab{
                    color: #A42035;
                    text-decoration: none;
                }



.toolbar__items__list a:active{
    color: cyan;
    text-decoration: none;
}
@media ( max-width: 768px ){
    /*Small screens-only*/
    .toolbar__items{
        display: none;
    }

}
@media ( min-width: 769px ){
    /*Big screens-only*/
    .drawertogglebutton__container{
        display: none;
    }
}